<div>
  <h1>Hello {{currentUser.username}}</h1>
  <table class="table table-striped">
    <tbody>
    <tr>
      <td>Full Name</td>
      <td>{{currentUser.name}}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{currentUser.age}}</td>
    </tr>
    <tr>
      <td>Insurance Company</td>
      <td>{{currentUser.insuranceCompany}}</td>
    </tr>
    <tr>
      <td>Insurance ID</td>
      <td>{{currentUser.insuranceID}}</td>
    </tr>
    <tr>
      <td>Blood Group</td>
      <td>{{currentUser.bloodGroup}}</td>
    </tr>
    <tr>
      <td>Medical History</td>
      <td>{{currentUser.medHistory}}</td>
    </tr>
    <tr>
      <td>Contact Number</td>
      <td>{{currentUser.contactNo}}</td>
    </tr>
    </tbody>
  </table>
</div>
