<div class="jumbotron">
  <h1>Welcome !</h1>
  <p class="lead">
    <img src="images/MedHelp.png" width="25%" height="25%" alt="Please Login or Register to Proceed"><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/login">Login <span class="glyphicon"></span></a></p>
  <p><a class="btn btn-lg btn-warning" ng-href="#/register">Register <span class="glyphicon"></span></a></p>
</div>

<div class="row marketing">
  <h4>Angular JS</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Node JS</h4>
  <p>Event-driven I/O server-side JavaScript environment.</p>

  <h4>Yeoman</h4>
  <p>Yeoman helps you to kickstart new projects.</p>
</div>
